In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')

data_dir="R:\MSS\Research\Projects\Baby_Toolbox\Gaze_Feasibility_2022_Data\misc"
os.chdir(data_dir)

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# Read the json files and the registration files

In [11]:
jfiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Gaze_Feasibility_2022_Data\\misc\\*.json')

edoc =[]
ldoc=[]
for file in jfiles:
    # load data using Python JSON module
    with open(file,'r') as f:
        ts = file.split('\\')[-1][:19]
        data = json.loads(f.read())
        print(ts)
        # Flatten data
        for i in range(len(data)):
            df0 = pd.json_normalize(data[i])
            subset =df0[(df0.dataKey=='userPIN')]
            sub =df0[(df0.dataKey=='assessmentName')]
            try:
                #display(subset.iloc[0,5])
                df0['PIN'] = subset.iloc[0,5]
            except:
                IndexError
            try:
                df0['Assessment Name'] = sub.iloc[0,5]
            except:
                IndexError
            df0['timestamp'] = ts
            #split data into LWL and EXF
            if 'LWL' in data[i][0]['itemID']:          
                ldoc.append(df0)
            else:
                edoc.append(df0)
            
            
edf = pd.concat(edoc)
ldf = pd.concat(ldoc)

2022-05-19 16.57.51
2022-05-24 10.03.27
2022-05-24 12.39.14
2022-05-18 14.34.46
2022-05-31 15.28.52
2022-05-20 13.27.15
2022-05-23 10.13.49
2022-05-19 15.55.08
2022-05-19 17.47.34
2022-05-20 16.01.12
2022-05-23 13.11.56
2022-05-24 14.44.25
2022-05-20 10.02.31
2022-05-23 16.39.03
2022-05-18 11.20.34
2022-05-18 09.52.01
2022-05-19 13.45.47
2022-05-19 15.08.10
2022-05-23 18.03.03
2022-05-23 12.29.39
2022-05-19 13.37.13
2022-05-23 10.51.40
2022-05-23 16.15.25
2022-05-20 11.21.59
2022-05-25 11.24.31
2022-05-20 09.59.42
2022-05-24 09.28.04
2022-05-19 18.28.06
2022-05-24 09.47.57
2022-05-19 13.40.06
2022-05-20 16.19.02
2022-05-20 19.30.23
2022-05-19 17.36.48
2022-05-23 10.42.35
2022-05-20 16.04.49
2022-05-23 18.13.20
2022-05-18 14.21.55
2022-05-19 12.01.49
2022-05-19 11.42.45
2022-05-18 10.40.42
2022-05-20 11.06.16
2022-05-20 14.47.37
2022-05-20 11.59.18
2022-05-20 17.36.58
2022-05-19 09.51.56
2022-05-20 16.30.17
2022-05-20 15.09.58
2022-05-24 08.55.34
2022-05-20 14.24.57
2022-05-20 16.53.05
2022-05-19 10.20.28
2022-05-23 09.57.14
2022-05-24 10.34.55
2022-05-19 11.09.42
2022-05-23 11.47.26
2022-05-25 12.44.17
2022-05-24 11.09.19
2022-05-18 14.35.30
2022-05-23 11.22.11
2022-05-21 17.30.08
2022-05-19 11.49.54
2022-05-23 09.58.04
2022-05-20 14.13.42
2022-05-21 17.07.32
2022-05-20 20.03.43
2022-05-20 13.31.55
2022-05-20 15.29.02
2022-05-20 11.03.10
2022-05-23 14.36.11
2022-05-20 10.29.37
2022-05-20 11.37.25
2022-05-20 15.36.46
2022-05-20 11.38.10
2022-05-19 14.18.29
2022-05-23 17.50.29
2022-05-24 08.40.14
2022-05-19 12.25.36
2022-05-18 17.49.07
2022-05-20 17.35.35
2022-05-19 14.47.10
2022-05-19 18.17.21
2022-05-19 18.01.49
2022-05-20 12.04.44
2022-05-20 16.45.47
2022-05-20 12.31.30
2022-05-19 14.47.27
2022-05-20 11.42.15

In [12]:
edf.itemID.unique()

array(['EFX-Head1_F1', 'EFX_Calibration1_F1', 'EFX_Calibration2_F1',
       'Hab_1.1', 'EXF_yellow1', 'Hab_1.2', 'EXF_yellow2', 'Hab_1.3',
       'EXF_yellow3', 'Hab_1.4', 'EXF_yellow4', 'Hab_1.5', 'EXF_yellow5',
       'Hab_1.6', 'EXF_yellow6', 'Hab_1.7', 'EXF_yellow7', 'Hab_1.8',
       'EXF_yellow8', 'Mem_1.1', 'Mem_1.2', 'VDR_1', 'VDR_2', 'VDR_3',
       'VDR_4', 'VDR_5', 'VDR_6', 'VDR_7', 'SCD_Drift_F1', 'Hab_2.1',
       'EXF_Blue1', 'Hab_2.2', 'EXF_Blue2', 'Hab_2.3', 'EXF_Blue3',
       'Hab_2.4', 'EXF_Blue4', 'Hab_2.5', 'EXF_Blue5', 'Hab_2.6',
       'EXF_Blue6', 'Hab_2.7', 'EXF_Blue7', 'Hab_2.8', 'EXF_Blue8',
       'Mem_2.1', 'Mem_2.2', 'VDR_8', 'VDR_9', 'VDR_10', 'VDR_11',
       'Mem_3.1', 'Mem_3.2', 'EFX_Head3_F1', 'EFX_Calibration3_F1',
       'EFX_Head2_F1'], dtype=object)

In [13]:
ldf.itemID.unique()

array(['LWL_Head1_F2', 'LWL_Calibration1_F2', 'LWL_Calibration2_F2',
       'Eye_Flower_G3', 'Table_Window_G3', 'Wolf_Jar_G3',
       'Shovel_Necklace_G3', 'Filler5', 'Flower_Eye_G3',
       'Window_Table_G3', 'Jar_Wolf_G3', 'Necklace_Shovel_G3', 'Filler6',
       'Deer_Pen_G4', 'Bucket_Muffin_G4', 'Jeans_Donkey_G4',
       'Lion_Zipper_G4', 'Filler7', 'Pen_Deer_G4', 'Muffin_Bucket_G4',
       'Donkey_Jeans_G4', 'Zipper_Lion_G4', 'Filler8', 'Shoulder_Hose_G5',
       'Ladder_Melon_G5', 'Rooster_Playground_G5', 'Tricycle_Sneaker_G5',
       'Filler9', 'Hose_Shoulder_G5', 'Melon_Ladder_G5',
       'Playground_Rooster_G5', 'Sneaker_Tricycle_G5', 'Filler10',
       'LWL_Drift_F2', 'LWL_Head2_F2', 'LWL_Calibration3_F2',
       'Nose_Book_G1', 'Foot_Cup_G1', 'Car_Shoe_G1', 'Door_Sock_G1',
       'Filler1', 'Book_Nose_G1', 'Cup_Foot_G1', 'Shoe_Car_G1',
       'Sock_Door_G1', 'Filler2', 'Blanket_Toothbrush_G2', 'Hand_Crib_G2',
       'Cow_Block_G2', 'Apple_Truck_G2', 'Filler3',
       'Toothbrush_Blanket_G2', 'Crib_Hand_G2', 'Block_Cow_G2',
       'Truck_Apple_G2', 'Filler4', 'LWL_Head3_F2', 'Star_Moose_G6',
       'Turtle_Hammer_G6', 'Cake_Bee_G6', 'Lamp_Stove_G6', 'Filler11',
       'Moose_Star_G6', 'Hammer_Turtle_G6', 'Bee_Cake_G6',
       'Stove_Lamp_G6', 'Filler12', 'Garden_Sweater_G7',
       'Ankle_Scissors_G7', 'Woods_Tray_G7', 'Bench_Rip_G7', 'Filler13',
       'Sweater_Garden_G7', 'Scissors_Ankle_G7', 'Tray_Woods_G7',
       'Rip_Bench_G7', 'Filler14', 'LWL_Head', 'LWL_Calibration',
       'LWL_Drift'], dtype=object)

In [14]:
## Filter out any ID that contains test
edf =edf[~edf['PIN'].str.contains("Practice|test|Test")]

In [15]:
ldf =ldf[~ldf['PIN'].str.contains("Practice|test|Test", na=False)]

In [16]:
ldf.PIN.unique()

array(['STL051', 'Jessica S 3', 'APL046', 'DAL001', 'DAL002', 'Jessica S',
       'APL044', 'APL032', 'APL003', 'MNS011', 'DAL032', 'APL051',
       'APL024', 'Cert 2 Sylvia', 'Cert 2', 'APL013', 'DAL052', 'DAL025',
       'STL001', 'STL031', 'DAL023', 'APL014', 'APL064', 'DAL011',
       'APL063', 'Jessica 5', 'Jessica 3', 'APL012', 'APL043', 'DAL031',
       'Millennia S', 'APL053', 'MNS061', 'APL045', nan, 'STL064',
       'APL022', 'DAL041', 'APL011', 'DAL022', 'STL065', 'Jessica S 6',
       'APL004', 'APL061', 'DAL042', 'Jessica S 2', 'APL031', 'DAL024',
       'DAL012', 'Ellie 2', 'APL023', 'APL001', 'APL065', 'Jessica',
       'MNS041', 'DAL063', 'APL034', 'APL042', 'DAL064', 'APL052',
       'Kinsley', 'STL041', 'MNS022', 'APL021', 'APL041', 'APL066',
       'Millennia S.', 'DAL021', 'MNS021', 'APL062', 'Reanna K', 'STL023',
       'APL033', 'APL002'], dtype=object)

In [17]:
# get all reg files 
rdoc =[]
rfiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Gaze_Feasibility_2022_Data\\misc\\*Registration Data.csv')
for file in rfiles:
    if 'Narrow Structure' in file:
        pass
    else:
        data = pd.read_csv(file)
        ts = file.split('\\')[-1][:19]
        data['timestamp'] = ts
        #print(ts)
        if data.shape[0]>1:
            display(data)
        rdoc.append(data)
            

rdf = pd.concat(rdoc)

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,STL031,9B9CE91A-190F-4977-97DD-BD24145A07DF,Liam,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,1,Assessment 1,2022-05-19 16.57.51
1,STL031,9B9CE91A-190F-4977-97DD-BD24145A07DF,Liam,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,1,NaN,2022-05-19 16.57.51
2,STL031,9B9CE91A-190F-4977-97DD-BD24145A07DF,Liam,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,1,NaN,2022-05-19 16.57.51
3,STL051,9B9CE91A-190F-4977-97DD-BD24145A07DF,Ophelia,1:7,NaN,NaN,NaN,NaN,NaN,2,NaN,1,2,Assessment 1,2022-05-19 16.57.51
4,Test2,9B9CE91A-190F-4977-97DD-BD24145A07DF,Test,NaN,1.00,28.00,NaN,NaN,NaN,2,2.00,1,1,Assessment 1,2022-05-19 16.57.51

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,DAL001,10B77F95-1027-483B-9126-666988F60440,Jenean B,0:4,1,20,NaN,NaN,NaN,1,1,2,1,Assessment 1,2022-05-31 15.28.52
1,DAL002,10B77F95-1027-483B-9126-666988F60440,Jenean B,0:4,1,21,NaN,NaN,NaN,2,1,1,1,Assessment 1,2022-05-31 15.28.52

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,MIN-Test1,109DD37E-AA18-41F4-8349-41AB65A900E0,Court,48:4,27,16,NaN,NaN,NaN,1,1,1,1,Assessment 1,2022-05-18 17.49.07
1,MIN-Test2,109DD37E-AA18-41F4-8349-41AB65A900E0,MIN2,32:5,1,16,NaN,NaN,NaN,1,2,4,1,Assessment 1,2022-05-18 17.49.07
2,MIN-Test3,109DD37E-AA18-41F4-8349-41AB65A900E0,MIN3,0:11,1,24,NaN,NaN,NaN,1,2,8,1,Assessment 1,2022-05-18 17.49.07
3,Practice-test1,109DD37E-AA18-41F4-8349-41AB65A900E0,Isaiah,1:11,1,21,NaN,NaN,NaN,1,1,1,1,Assessment 1,2022-05-18 17.49.07

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,1234,BDECA77A-63E1-493E-BC64-8C3A05CD8316,Ellie Mae,2:9,2.00,21.00,NaN,NaN,NaN,2,1.00,1,1,Assessment 3,2022-05-18 14.35.30
1,Ellie,BDECA77A-63E1-493E-BC64-8C3A05CD8316,NaN,1:2,NaN,NaN,NaN,NaN,NaN,2,NaN,1,1,Assessment 1,2022-05-18 14.35.30
2,Ellie 2,BDECA77A-63E1-493E-BC64-8C3A05CD8316,NaN,2:9,1.00,21.00,NaN,NaN,NaN,2,2.00,1,1,Assessment 1,2022-05-18 14.35.30

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,STL001,9B9CE91A-190F-4977-97DD-BD24145A07DF,Nolan,0:5,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1,Assessment 1,2022-05-19 13.37.13
1,STL031,9B9CE91A-190F-4977-97DD-BD24145A07DF,Liam,0:10,NaN,NaN,NaN,NaN,NaN,1,NaN,0,1,Assessment 5,2022-05-19 13.37.13

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,timestamp
0,Kinsley,BDECA77A-63E1-493E-BC64-8C3A05CD8316,NaN,0:5,NaN,NaN,NaN,NaN,NaN,2,NaN,1,1.00,Assessment 1,2022-05-20 11.37.25
1,Olivia,BDECA77A-63E1-493E-BC64-8C3A05CD8316,NaN,0:9,NaN,NaN,NaN,NaN,NaN,2,NaN,0,NaN,Assessment 2,2022-05-20 11.37.25
2,STL041,BDECA77A-63E1-493E-BC64-8C3A05CD8316,Tate,1:2,NaN,NaN,NaN,NaN,NaN,1,NaN,1,1.00,Assessment 1,2022-05-20 11.37.25

In [18]:
s=rdf.groupby(['PIN','Assessment Name'])['timestamp'].count()
s[s>1]

PIN          Assessment Name
Cert 2       Assessment 1       2
Jessica      Assessment 1       3
Millennia S  Assessment 1       2
Test3        Assessment 1       2
Name: timestamp, dtype: int64

# Registration cleaning

In [19]:
## Filter out any ID that contains prac or test
rdf =rdf[~rdf['PIN'].str.contains("Practice|Test")]

In [20]:
keep =['PIN', 'Age', 'Assessment Name','timestamp','Age_month']

In [21]:
rdf.PIN.nunique()

83

In [22]:
rdf['Age'] = rdf['Age'].fillna(rdf.groupby('PIN')['Age'].transform('first'))

In [23]:
rdf[['Year','Month']] = rdf.Age.str.split(":",expand=True)

In [24]:
rdf['Month'] =pd.to_numeric(rdf['Month'])
rdf['Year'] =pd.to_numeric(rdf['Year'])

In [25]:
#recode the age into months format
rdf['Age_month'] = rdf['Year']*12 + rdf['Month']

In [26]:
rsub =rdf[keep].drop_duplicates()

In [28]:
edf.shape

(2268230, 16)

## how many rounds of calibration does a person take (options are 1, 2, or 3 per record)

## how many times is the "eventName" : "failedCalibrationRound" on round 3

In [133]:
def onetwothree(df):
    #The timestamp with 3 calibration
    d3 =df[(df.gazeEngineState=='calibrating') & (df.itemID.str.contains('Calibration3'))][['PIN','Assessment Name','timestamp']].drop_duplicates()
    #The timestamp with 2 calibration
    d2 =df[(df.gazeEngineState=='calibrating')& (df.itemID.str.contains('Calibration2'))][['PIN','Assessment Name','timestamp']].drop_duplicates()
    d1 =df[(df.gazeEngineState=='calibrating') & (df.itemID.str.contains('Calibration2')==False)][['PIN','Assessment Name','timestamp']].drop_duplicates()
    print(d3.shape[0], 'people had 3 rounds of calibrations.' )
    print(d2.shape[0]-d3.shape[0], 'people had 2 rounds of calibrations.' )
    print(d1.shape[0]-d2.shape[0], 'people had 1 round of calibration.' )
    #13 times is the "eventName" : "failedCalibrationRound" on round 3
    third = df[(df.itemID.str.contains('Calibration3'))&(df.eventName.str.contains('failedCalibrationRound'))]
    print('')
    print(third.shape[1] ,'times is the "eventName" : "failedCalibrationRound" on round 3')
    display(third.head())

    two= pd.merge(d2,d3, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)   
    one= pd.merge(d1,d2, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
    
    return e3,two, one, third[['PIN','Assessment Name','timestamp']].drop_duplicates()

In [134]:
#EXF
e3, e2,e1,ef =onetwothree(edf)

37 people had 3 rounds of calibrations.
16 people had 2 rounds of calibrations.
28 people had 1 round of calibration.

16 times is the "eventName" : "failedCalibrationRound" on round 3

,itemID,elapsedTime,gazeEngineState,eventName,dataKey,dataValue,lookAtPointX,lookAtPointY,calibrationFocalPoint,gazeLocationName,gazeLocationOnScreen,dataValue.averageY,dataValue.averageX,PIN,Assessment Name,timestamp
2768,EFX_Calibration3_F1,65.02,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,topLeft,NaN,NaN,NaN,NaN,Jessica S 3,Assessment 1,2022-05-24 10.03.27
1411,EFX_Calibration3_F1,31.87,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APL046,Assessment 1,2022-05-24 12.39.14
53,EFX_Calibration3_F1,69.70,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica S,Assessment 2,2022-05-20 13.27.15
1664,EFX_Calibration3_F1,159.41,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,bottomLeft,NaN,NaN,NaN,NaN,APL032,Assessment 1,2022-05-19 15.55.08
1321,EFX_Calibration3_F1,110.65,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,topRight,NaN,NaN,NaN,NaN,DAL032,Assessment 1,2022-05-23 13.11.56

In [135]:
#LWL F
l3, l2, l1 ,lf=onetwothree(ldf)

32 people had 3 rounds of calibrations.
17 people had 2 rounds of calibrations.
30 people had 1 round of calibration.

16 times is the "eventName" : "failedCalibrationRound" on round 3

,itemID,elapsedTime,gazeEngineState,eventName,dataKey,dataValue,lookAtPointX,lookAtPointY,calibrationFocalPoint,gazeLocationName,gazeLocationOnScreen,dataValue.averageY,dataValue.averageX,PIN,Assessment Name,timestamp
1729,LWL_Calibration3_F2,113.71,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,bottomLeft,NaN,NaN,NaN,NaN,Jessica S 3,Assessment 1,2022-05-24 10.03.27
1517,LWL_Calibration3_F2,81.94,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DAL001,Assessment 1,2022-05-31 15.28.52
2108,LWL_Calibration3_F2,51.10,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APL032,Assessment 1,2022-05-19 15.55.08
2384,LWL_Calibration3_F2,69.84,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APL051,Assessment 1,2022-05-20 10.02.31
1797,LWL_Calibration3_F2,116.62,calibrating,failedCalibrationRound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APL024,Assessment 1,2022-05-23 16.39.03

In [144]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\Users\\tsb7592\\Downloads\\calibrating.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
e1.to_excel(writer, sheet_name='EFX_F1_1')
e3.to_excel(writer, sheet_name='EFX_F1_2')
e3.to_excel(writer, sheet_name='EFX_F1_3')
#ef.to_excel(writer, sheet_name='EFX_F1_failed_round3')

l1.to_excel(writer, sheet_name='LWL_F2_1')
l2.to_excel(writer, sheet_name='LWL_F2_2')
l3.to_excel(writer, sheet_name='LWL_F2_3')
#lf.to_excel(writer, sheet_name='LWL_F2__failed_round3')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# how many times does "eventName" : "beganHeadPlacement" (regardless of gazeEngineState) per record (minimum 1)

In [122]:
def HeadPlacement(df):
    hp = df[df.eventName=='beganHeadPlacement']
    return hp.groupby(['PIN','Assessment Name'])['eventName'].count()

In [142]:
ehp =HeadPlacement(edf)

In [143]:
lhp =HeadPlacement(ldf)

In [145]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\Users\\tsb7592\\Downloads\\beganHeadPlacement.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
ehp.to_excel(writer, sheet_name='EFX_F1')
lhp.to_excel(writer, sheet_name='LWL_F2')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# how many times does "eventName" : "faceLeftScene" occur (please report this separately for by gazeEngineState) per record

In [146]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\Users\\tsb7592\\Downloads\\faceLeftScene.xlsx', engine='xlsxwriter')

In [148]:
def FaceLeft(df, prefix):

    fl = df[df.eventName=='faceLeftScene']
    for state in df['gazeEngineState'].unique():
        
        sub = fl[fl.gazeEngineState== state]
        if sub.shape[0]>0:
            rv =sub.groupby(['PIN','Assessment Name'])['eventName'].count()
            rv.to_excel(writer, sheet_name=prefix +state)

In [149]:
FaceLeft(ldf,'LWL_')

In [150]:
FaceLeft(edf,'EFX_')

In [151]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [27]:
er= pd.merge(edf, rsub , on =['timestamp','PIN','Assessment Name'])
er

,itemID,elapsedTime,gazeEngineState,eventName,dataKey,dataValue,lookAtPointX,lookAtPointY,calibrationFocalPoint,gazeLocationName,gazeLocationOnScreen,dataValue.averageY,dataValue.averageX,PIN,Assessment Name,timestamp,Age,Age_month
0,EFX-Head1_F1,0.00,beforeCalibration,beganHeadPlacement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STL051,Assessment 1,2022-05-19 16.57.51,1:7,19.00
1,EFX-Head1_F1,10.98,beforeCalibration,completedHeadPlacement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STL051,Assessment 1,2022-05-19 16.57.51,1:7,19.00
2,EFX_Calibration1_F1,10.99,calibrating,beganCalibration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STL051,Assessment 1,2022-05-19 16.57.51,1:7,19.00
3,EFX_Calibration1_F1,10.99,calibrating,data,deviceIdentifier,9B9CE91A-190F-4977-97DD-BD24145A07DF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STL051,Assessment 1,2022-05-19 16.57.51,1:7,19.00
4,EFX_Calibration1_F1,10.99,calibrating,data,mediaRetentionDisabled,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STL051,Assessment 1,2022-05-19 16.57.51,1:7,19.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2268225,Mem_3.2,512.19,testCompleted,data,arFramesPerSecond_calibration_actual,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Assessment 1,2022-05-20 11.42.15,1:5,17.00
2268226,Mem_3.2,512.19,testCompleted,data,arFramesPerSecond_test_actual,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Assessment 1,2022-05-20 11.42.15,1:5,17.00
2268227,Mem_3.2,512.19,testCompleted,data,cameraFramesPerSecond_preferred,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Assessment 1,2022-05-20 11.42.15,1:5,17.00
2268228,Mem_3.2,512.19,testCompleted,data,cameraFramesPerSecond_calibration_actual,14.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Assessment 1,2022-05-20 11.42.15,1:5,17.00
2268229,Mem_3.2,512.19,testCompleted,data,cameraFramesPerSecond_test_actual,14.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Assessment 1,2022-05-20 11.42.15,1:5,17.00