In [2]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data_dir="R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc"
os.chdir(data_dir)

# Get the data

In [3]:
# get all assessment files
afiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Assessment Data.csv')

doc =[]
for file in afiles:
    if '2021-11-1' in file and 'Narrow Structure' not in file:
        data = pd.read_csv(file)
        print(file)
        doc.append(data)

# get all reg files 
rdoc =[]
rfiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Registration Data.csv')
for file in rfiles:
    if '2021-11-1' in file and 'Narrow Structure' not in file:
        data = pd.read_csv(file)
        print(file)
        rdoc.append(data)

adf = pd.concat(doc)
rdf = pd.concat(rdoc)

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Assessment Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Registration Data.csv

In [20]:
rdf.shape

(133, 15)

In [17]:
rdf=rdf.reset_index()

In [21]:
rdf =rdf.drop(columns=['index'])

In [37]:
rdf.at[97,'PIN']='mn018p'

In [38]:
subset = rdf.groupby("PIN").filter(lambda x: len(x) > 1)
subset

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
6,WI005c,10B77F95-1027-483B-9126-666988F60440,Myla,29:11,NaN,16.0,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1
7,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
8,WI00p,10B77F95-1027-483B-9126-666988F60440,Brynlee,31:1,NaN,26.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
9,WI011p,10B77F95-1027-483B-9126-666988F60440,Wells,32:3,NaN,26.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
10,Mn012c,53A3EB94-4ACF-41E6-A744-01E877B21025,Mn012p,2:3,NaN,22.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
13,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,2:0,1.0,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
14,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,NaN,1.0,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2
18,WI002C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Leo,0:7,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
19,WI029C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Brielle,1:8,1.0,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
23,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
24,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
41,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,NaN,NaN,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
42,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,38:1,NaN,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2
43,WI029C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Brielle,1:8,1.0,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
46,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,NaN,NaN,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
47,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,34:6,NaN,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2
49,Mn012c,13781795-A391-4367-BA54-1152B446E0D8,Mn012p,32:10,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
52,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
53,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,1:0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2
56,WI008P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Greyson,2:3,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
59,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.0,NaN,NaN,NaN,2.0,2.0,1,1.0,Assessment 2
61,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
62,WI023,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Marshall,3:2,NaN,21.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
63,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.0,NaN,NaN,NaN,1.0,2.0,1,1.0,Assessment 1
65,WI002C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Leo,0:7,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
67,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,NaN,16.0,NaN,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1
75,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
79,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,NaN,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
80,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,1:7,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2
84,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
85,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,NaN,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
91,WI023,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Marshall,3:2,NaN,21.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
92,WI033C,10B77F95-1027-483B-9126-666988F60440,Blaire,34:4,20.0,NaN,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
103,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.0,NaN,NaN,NaN,2.0,2.0,1,1.0,Assessment 1
117,Mn022p,82DD2DEB-CAF7-4996-894A-998C9EA6977A,Mn022c,31:11,18.0,21.0,NaN,NaN,NaN,2.0,1.0,1,2.0,Assessment 1
124,Mn022p,82DD2DEB-CAF7-4996-894A-998C9EA6977A,Mn022c,31:11,18.0,21.0,NaN,NaN,NaN,2.0,1.0,1,2.0,Assessment 1
125,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,2:4,16.0,NaN,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 2
126,WI005c,10B77F95-1027-483B-9126-666988F60440,Myla,29:11,NaN,16.0,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1
127,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
128,WI00p,10B77F95-1027-483B-9126-666988F60440,Brynlee,31:1,NaN,26.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
129,WI011p,10B77F95-1027-483B-9126-666988F60440,Wells,32:3,NaN,26.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
130,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.0,NaN,NaN,NaN,1.0,2.0,1,1.0,Assessment 1
131,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,NaN,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
132,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,1:1,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2

In [41]:
dropindex = [14,41,42,43,46,49,52,56,61,63,65,75,79,84,85,91,92,103,124,125,126,127,128,129,130,131]

In [40]:
for pin in subset.PIN.unique():
    display(subset[subset['PIN']==pin])

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
6,WI005c,10B77F95-1027-483B-9126-666988F60440,Myla,29:11,NaN,16.0,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1
126,WI005c,10B77F95-1027-483B-9126-666988F60440,Myla,29:11,NaN,16.0,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
7,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
56,WI008P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Greyson,2:3,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
127,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
8,WI00p,10B77F95-1027-483B-9126-666988F60440,Brynlee,31:1,NaN,26.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
128,WI00p,10B77F95-1027-483B-9126-666988F60440,Brynlee,31:1,NaN,26.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
9,WI011p,10B77F95-1027-483B-9126-666988F60440,Wells,32:3,NaN,26.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
129,WI011p,10B77F95-1027-483B-9126-666988F60440,Wells,32:3,NaN,26.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
10,Mn012c,53A3EB94-4ACF-41E6-A744-01E877B21025,Mn012p,2:3,NaN,22.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
49,Mn012c,13781795-A391-4367-BA54-1152B446E0D8,Mn012p,32:10,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
13,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,2:0,1.0,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
14,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,NaN,1.0,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
18,WI002C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Leo,0:7,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2
65,WI002C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Leo,0:7,1.0,21.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
19,WI029C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Brielle,1:8,1.0,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
43,WI029C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Brielle,1:8,1.0,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
23,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
84,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 1
85,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,NaN,18.0,16.0,NaN,NaN,NaN,1.0,1.0,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
24,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
61,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
63,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.0,NaN,NaN,NaN,1.0,2.0,1,1.0,Assessment 1
75,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
130,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.0,NaN,NaN,NaN,1.0,2.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
41,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,NaN,NaN,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
42,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,38:1,NaN,20.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2
131,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,NaN,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
132,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,1:1,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
46,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,NaN,NaN,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1
47,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,34:6,NaN,21.0,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
52,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
53,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,1:0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
59,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.0,NaN,NaN,NaN,2.0,2.0,1,1.0,Assessment 2
103,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.0,NaN,NaN,NaN,2.0,2.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
62,WI023,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Marshall,3:2,NaN,21.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1
91,WI023,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Marshall,3:2,NaN,21.0,NaN,NaN,NaN,1.0,NaN,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
67,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,NaN,16.0,NaN,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 1
125,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,2:4,16.0,NaN,NaN,NaN,NaN,2.0,1.0,0,NaN,Assessment 2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
79,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,NaN,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 1
80,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,1:7,NaN,20.0,NaN,NaN,NaN,2.0,NaN,1,1.0,Assessment 2
92,WI033C,10B77F95-1027-483B-9126-666988F60440,Blaire,34:4,20.0,NaN,NaN,NaN,NaN,2.0,1.0,1,1.0,Assessment 1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name
117,Mn022p,82DD2DEB-CAF7-4996-894A-998C9EA6977A,Mn022c,31:11,18.0,21.0,NaN,NaN,NaN,2.0,1.0,1,2.0,Assessment 1
124,Mn022p,82DD2DEB-CAF7-4996-894A-998C9EA6977A,Mn022c,31:11,18.0,21.0,NaN,NaN,NaN,2.0,1.0,1,2.0,Assessment 1

In [44]:
subset.PIN.nunique()

18

In [43]:
len(subset.drop(dropindex))

18

In [45]:
rdf= rdf.drop(dropindex)

In [47]:
#sanity check
rdf.groupby("PIN").filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [PIN, DeviceID, Name, Age, Education, MothersEducation, FathersEducation, GuardiansEducation, StartingLevelOverride, Gender, Handedness, Race, Ethnicity, Assessment Name]
Index: []

In [48]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

In [49]:
rdf[['Year','Month']] = rdf.Age.str.split(":",expand=True)

In [50]:
rdf['Month'] =pd.to_numeric(rdf['Month'])
rdf['Year'] =pd.to_numeric(rdf['Year'])

In [51]:
#recode the age into months format
rdf['Age_month'] = rdf['Year']*12 + rdf['Month']

In [52]:
rdf= rdf.drop_duplicates()

In [54]:
adf= adf.drop_duplicates()

In [57]:
adf.shape

(21863, 23)

In [55]:
#Recode age group
rdf['Age_group'] = pd.cut(rdf['Age_month'] , [0,1,2,3,4,5,6,8,10,12,15,18,21,24,27,30,35,43])

In [56]:
# Concatenate registration and assessment data files in the /misc folder
df = pd.merge(adf, rdf[['PIN','Assessment Name', 'Age_month','Age_group']], on=['PIN','Assessment Name'], how ='left')

In [58]:
df.shape

(21863, 25)

In [59]:
df.PIN.nunique()

106

In [61]:
#Convert to datetime
df['InstStarted']= pd.to_datetime(df['InstStarted'])
df['InstEnded']= pd.to_datetime(df['InstEnded'])
df['DateCreated']= pd.to_datetime(df['DateCreated'])

In [70]:
df.head()

,PIN,DeviceID,Assessment Name,InstOrdr,InstSctn,ItmOrdr,Inst,Locale,ItemID,Response,...,Position,ResponseTime,DateCreated,InstStarted,InstEnded,App Version,iPad Version,Firmware Version,Age_month,Age_group
0,Appletonc1,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 1,1,1,1,Mullen Receptive,en-US,Mullen_Rec_Title,1,...,1,NaN,2021-11-10 12:17:06,2021-11-10 12:17:05,2021-11-10 12:18:28,1.25.5218,"/ iPad13,4",14.7.1,39.00,"(35, 43]"
1,Appletonc1,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 1,1,1,2,Mullen Receptive,en-US,Mullen_Rec_Instructions,1,...,2,NaN,2021-11-10 12:17:07,2021-11-10 12:17:05,2021-11-10 12:18:28,1.25.5218,"/ iPad13,4",14.7.1,39.00,"(35, 43]"
2,Appletonc1,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 1,1,1,15,Mullen Receptive,en-US,RL22,2,...,3,NaN,2021-11-10 12:18:28,2021-11-10 12:17:05,2021-11-10 12:18:28,1.25.5218,"/ iPad13,4",14.7.1,39.00,"(35, 43]"
3,Appletonc1,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 1,2,1,1,Mullen Expressive Prompted,en-US,Mullen_ExpP_Title,1,...,1,NaN,2021-11-10 12:18:33,2021-11-10 12:18:29,2021-11-10 12:20:32,1.25.5218,"/ iPad13,4",14.7.1,39.00,"(35, 43]"
4,Appletonc1,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 1,2,1,2,Mullen Expressive Prompted,en-US,Mullen_ExpP_Instructions,1,...,2,NaN,2021-11-10 12:18:34,2021-11-10 12:18:29,2021-11-10 12:20:32,1.25.5218,"/ iPad13,4",14.7.1,39.00,"(35, 43]"

In [64]:
#Table measure counts by PIN (one column for PIN, age group
df.groupby('Age_group').agg({"PIN": "nunique"})

           PIN
Age_group
(0, 1]       0
(1, 2]       0
(2, 3]       0
(3, 4]       5
(4, 5]       4
(5, 6]       3
(6, 8]       7
(8, 10]      5
(10, 12]     1
(12, 15]     5
(15, 18]     3
(18, 21]     9
(21, 24]     2
(24, 27]     7
(27, 30]     4
(30, 35]     7
(35, 43]    10

In [92]:
t1=df.groupby(['PIN','Assessment Name']).agg({'Inst': "nunique"})

In [121]:
# one column for each of the ~35 Inst [instrument names])
t2=df.groupby(['PIN','Assessment Name'])['Inst'].apply(list)
task4 = pd.merge(t1,t2, on=['PIN','Assessment Name'])

In [122]:
task4.columns=['unique_inst_count', 'Inst']

In [104]:
df.to_csv('C:/Users/tsb7592/Downloads/combined_data.csv', index=False)

In [129]:
def count_freq(row):
    dc ={}
    for i in row:
        if i not in dc:
            dc[i] = 0
        else:
            dc[i]+=1
    return dc

In [132]:
task4['freq'] =task4['Inst'].apply(count_freq)

In [138]:
task4.drop(columns=['Inst']).to_csv('C:/Users/tsb7592/Downloads/task4.csv')

In [137]:
task4.drop(columns=['Inst'])

                            unique_inst_count  \
PIN        Assessment Name
Appletonc1 Assessment 1                    23
Appletonq  Assessment 1                     5
M018c      Assessment 3                    23
MN001c     Assessment 1                     6
MN001p     Assessment 2                     1
...                                       ...
WI032C     Assessment 1                    14
WI032P     Assessment 1                     4
WI033C     Assessment 1                     6
           Assessment 2                    17
WI24C      Assessment 1                    17

                                                                         freq
PIN        Assessment Name
Appletonc1 Assessment 1     {'Mullen Receptive': 2, 'Mullen Expressive Pro...
Appletonq  Assessment 1     {'Children's Behavior Questionnaire - Very Sho...
M018c      Assessment 3     {'Mullen Receptive': 4, 'Mullen Expressive Pro...
MN001c     Assessment 1     {'Mullen Receptive': 6, 'Mullen Expressive Pro...
MN001p     Assessment 2     {'Infant Behavior Questionnaire - Revised - Ve...
...                                                                       ...
WI032C     Assessment 1     {'Mullen Receptive': 4, 'Mullen Expressive Pro...
WI032P     Assessment 1     {'Infant Behavior Questionnaire - Revised - Ve...
WI033C     Assessment 1     {'Early Childhood Behavior Questionnaire - Ver...
           Assessment 2     {'Mullen Receptive': 7, 'Mullen Expressive Pro...
WI24C      Assessment 1     {'Mullen Receptive': 6, 'Mullen Expressive Pro...

[109 rows x 2 columns]

# Old code