In [106]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [107]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [108]:
data=pd.read_csv('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\Basic_Desc_output.csv')

In [109]:
data.head()

,DYAD,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
1,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
2,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
3,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
4,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL22,2,2.0,3,NaN,2021-12-05 12:11:22,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"

# 2. Filter the inst to be CBQ

In [110]:
df= data[data.Inst=="Children's Behavior Questionnaire - Very Short Form"]

In [111]:
df.Response =pd.to_numeric(df.Response)
df.Score =pd.to_numeric(df.Score)

# 3. Rescore all items to ensure appropriate response coding.

In [112]:
df.ItemID.unique()

array(['RothCBQ_Title', 'SelfReg_Intro_CBQ ', 'SelfReg_CBQ1',
       'SelfReg_CBQ2', 'SelfReg_CBQ3', 'SelfReg_CBQ4', 'SelfReg_CBQ5',
       'SelfReg_CBQ6', 'SelfReg_CBQ7', 'SelfReg_CBQ8', 'SelfReg_CBQ9',
       'SelfReg_CBQ10', 'SelfReg_CBQ11', 'SelfReg_CBQ12', 'SelfReg_CBQ13',
       'SelfReg_CBQ14', 'SelfReg_CBQ15', 'SelfReg_CBQ16', 'SelfReg_CBQ17',
       'SelfReg_CBQ18', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 'SelfReg_CBQ21',
       'SelfReg_CBQ22', 'SelfReg_CBQ23', 'SelfReg_CBQ24', 'SelfReg_CBQ25',
       'SelfReg_CBQ26', 'SelfReg_CBQ27', 'SelfReg_CBQ28', 'SelfReg_CBQ29',
       'SelfReg_CBQ30', 'SelfReg_CBQ31', 'SelfReg_CBQ32', 'SelfReg_CBQ33',
       'SelfReg_CBQ34', 'SelfReg_CBQ35', 'SelfReg_CBQ36'], dtype=object)

In [113]:
reverse =['SelfReg_CBQ13', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 
       'SelfReg_CBQ22', 'SelfReg_CBQ26', 'SelfReg_CBQ29',
          'SelfReg_CBQ31', 'SelfReg_CBQ34']

In [114]:
import numpy as np
#The score should equal the response for all items EXCEPT SelfReg_CBQ 13, 19, 20, 22, 26, 29, 31, and 34, 
#for which the score should be 8-response 
df['Score'] = np.where(df['ItemID'].isin(reverse), 8-df.Response, df.Response)

In [115]:
df[df['ItemID'].isin(reverse)].tail()

,DYAD,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
44684,61,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ22,5,3,24,4.91,2021-12-02 12:30:57,2021-12-02 12:26:39,2021-12-02 12:32:04,41,"(35, 43]"
44688,61,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ26,5,3,28,5.63,2021-12-02 12:31:15,2021-12-02 12:26:39,2021-12-02 12:32:04,41,"(35, 43]"
44691,61,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ29,3,5,31,7.34,2021-12-02 12:31:30,2021-12-02 12:26:39,2021-12-02 12:32:04,41,"(35, 43]"
44693,61,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ31,5,3,33,6.77,2021-12-02 12:31:42,2021-12-02 12:26:39,2021-12-02 12:32:04,41,"(35, 43]"
44696,61,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ34,5,3,36,5.07,2021-12-02 12:31:54,2021-12-02 12:26:39,2021-12-02 12:32:04,41,"(35, 43]"

# 4. Calculate the three composite scores

In [116]:
a= ['SelfReg_CBQ1', 'SelfReg_CBQ4', 'SelfReg_CBQ7', 
    'SelfReg_CBQ10', 'SelfReg_CBQ13', 'SelfReg_CBQ16', 
    'SelfReg_CBQ19', 'SelfReg_CBQ22','SelfReg_CBQ25',
    'SelfReg_CBQ28', 'SelfReg_CBQ31', 'SelfReg_CBQ34',]

b= [ 'SelfReg_CBQ2', 'SelfReg_CBQ5','SelfReg_CBQ8', 'SelfReg_CBQ11', 
     'SelfReg_CBQ14', 'SelfReg_CBQ17', 'SelfReg_CBQ20','SelfReg_CBQ23', 
    'SelfReg_CBQ26','SelfReg_CBQ29','SelfReg_CBQ32',  'SelfReg_CBQ35']


c= ['SelfReg_CBQ3','SelfReg_CBQ6','SelfReg_CBQ9',
    'SelfReg_CBQ12',  'SelfReg_CBQ15', 'SelfReg_CBQ18', 
    'SelfReg_CBQ21', 'SelfReg_CBQ24', 'SelfReg_CBQ27',
     'SelfReg_CBQ30', 'SelfReg_CBQ33', 'SelfReg_CBQ36']

In [117]:
SelfReg_SurgCBQ=df[df.ItemID.isin(a)].groupby(['PIN','DYAD'])['Score'].mean()
SelfReg_NegAffCBQ= df[df.ItemID.isin(b)].groupby(['PIN','DYAD'])['Score'].mean()
SelfReg_EffContCBQ= df[df.ItemID.isin(c)].groupby(['PIN','DYAD'])['Score'].mean()

In [118]:
comp =[SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ]

In [119]:
cdf = pd.concat(comp,axis=1)
cdf.columns = ['SelfReg_SurgCBQ','SelfReg_NegAffCBQ','SelfReg_EffContCBQ']

In [120]:
cdf

                SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
PIN       DYAD
APPLETONQ 1                3.83               5.25                5.42
MN010P    43               4.50               4.00                5.75
MN020P    53               3.42               5.00                4.42
MN024P    57               3.67               4.42                5.42
MO003P    87               4.25               4.17                4.42
MO004P    88               4.67               3.50                6.25
MO013P    97               5.42               2.58                5.50
TX004P    61               4.42               4.50                5.17
TX006P    63               3.58               4.92                5.25
TX011P    68               4.58               4.42                6.17
WI010P    10               4.00               4.58                6.17
WI011P    11               3.58               4.17                4.33
WI017P    17               4.67               5.67                5.42
WI020C    20               4.83               3.75                3.50
WI023P    23               2.67               3.33                5.08

In [121]:
cdf.corr()

                    SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
SelfReg_SurgCBQ                1.00              -0.26                0.17
SelfReg_NegAffCBQ             -0.26               1.00                0.02
SelfReg_EffContCBQ             0.17               0.02                1.00

In [122]:
cdf.corr().round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_corr.csv')

# 5. Calculate item-rest correlations for every item – e.g., what is the Pearson correlation for SelfReg_cbq8 with the average score for the 11 other items on SelfReg_NegAffCBQ. There should be 36 item-rest correlations.

In [123]:
items=[ 'SelfReg_CBQ1',
       'SelfReg_CBQ2', 'SelfReg_CBQ3', 'SelfReg_CBQ4', 'SelfReg_CBQ5',
       'SelfReg_CBQ6', 'SelfReg_CBQ7', 'SelfReg_CBQ8', 'SelfReg_CBQ9',
       'SelfReg_CBQ10', 'SelfReg_CBQ11', 'SelfReg_CBQ12', 'SelfReg_CBQ13',
       'SelfReg_CBQ14', 'SelfReg_CBQ15', 'SelfReg_CBQ16', 'SelfReg_CBQ17',
       'SelfReg_CBQ18', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 'SelfReg_CBQ21',
       'SelfReg_CBQ22', 'SelfReg_CBQ23', 'SelfReg_CBQ24', 'SelfReg_CBQ25',
       'SelfReg_CBQ26', 'SelfReg_CBQ27', 'SelfReg_CBQ28', 'SelfReg_CBQ29',
       'SelfReg_CBQ30', 'SelfReg_CBQ31', 'SelfReg_CBQ32', 'SelfReg_CBQ33',
       'SelfReg_CBQ34', 'SelfReg_CBQ35', 'SelfReg_CBQ36']

In [124]:
from scipy.stats import pearsonr

def item_rest(itemlist, li=None):
    if not li:
        li ={}
        
    for i in range(len(itemlist)):
        rest = itemlist.copy()
        rest.pop(i)
        list1 = df[df.ItemID==itemlist[i]].groupby(['PIN','DYAD'])['Score'].mean()
        list2  = df[df.ItemID.isin(rest)].groupby(['PIN','DYAD'])['Score'].mean()
    
    # Apply the pearsonr()
        corr, _ = pearsonr(list1, list2)
        print(itemlist[i], ': Pearsons correlation is %.3f ' % corr)
        li[itemlist[i]] = corr
    return li

In [125]:
itemrest = item_rest(a)

SelfReg_CBQ1 : Pearsons correlation is -0.195
SelfReg_CBQ4 : Pearsons correlation is 0.610
SelfReg_CBQ7 : Pearsons correlation is 0.620
SelfReg_CBQ10 : Pearsons correlation is 0.722
SelfReg_CBQ13 : Pearsons correlation is 0.391
SelfReg_CBQ16 : Pearsons correlation is -0.176
SelfReg_CBQ19 : Pearsons correlation is 0.604
SelfReg_CBQ22 : Pearsons correlation is 0.365
SelfReg_CBQ25 : Pearsons correlation is 0.291
SelfReg_CBQ28 : Pearsons correlation is 0.213
SelfReg_CBQ31 : Pearsons correlation is -0.124
SelfReg_CBQ34 : Pearsons correlation is 0.681

In [126]:
itemrest =item_rest(b, itemrest)

SelfReg_CBQ2 : Pearsons correlation is 0.011
SelfReg_CBQ5 : Pearsons correlation is 0.774
SelfReg_CBQ8 : Pearsons correlation is -0.196
SelfReg_CBQ11 : Pearsons correlation is 0.176
SelfReg_CBQ14 : Pearsons correlation is 0.430
SelfReg_CBQ17 : Pearsons correlation is 0.232
SelfReg_CBQ20 : Pearsons correlation is 0.535
SelfReg_CBQ23 : Pearsons correlation is 0.407
SelfReg_CBQ26 : Pearsons correlation is -0.024
SelfReg_CBQ29 : Pearsons correlation is 0.535
SelfReg_CBQ32 : Pearsons correlation is 0.370
SelfReg_CBQ35 : Pearsons correlation is 0.193

In [127]:
itemrest = item_rest(c,itemrest)

SelfReg_CBQ3 : Pearsons correlation is 0.305
SelfReg_CBQ6 : Pearsons correlation is 0.410
SelfReg_CBQ9 : Pearsons correlation is 0.261
SelfReg_CBQ12 : Pearsons correlation is 0.650
SelfReg_CBQ15 : Pearsons correlation is 0.036
SelfReg_CBQ18 : Pearsons correlation is 0.534
SelfReg_CBQ21 : Pearsons correlation is 0.661
SelfReg_CBQ24 : Pearsons correlation is 0.712
SelfReg_CBQ27 : Pearsons correlation is 0.315
SelfReg_CBQ30 : Pearsons correlation is 0.570
SelfReg_CBQ33 : Pearsons correlation is 0.261
SelfReg_CBQ36 : Pearsons correlation is 0.467

In [128]:
irc = pd.DataFrame.from_dict(itemrest, orient='index', columns=['item-rest-correlation'])
irc.round(3).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_item_rest_correlation.csv')

# 6. Describe each of the 3 composite scores [step #4] overall and by age group. NOTE: the Child Behavior Questionnaire is not applicable to all age groups

In [129]:
cdf=cdf.reset_index()

In [130]:
cdf

          PIN  DYAD  SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0   APPLETONQ     1             3.83               5.25                5.42
1      MN010P    43             4.50               4.00                5.75
2      MN020P    53             3.42               5.00                4.42
3      MN024P    57             3.67               4.42                5.42
4      MO003P    87             4.25               4.17                4.42
5      MO004P    88             4.67               3.50                6.25
6      MO013P    97             5.42               2.58                5.50
7      TX004P    61             4.42               4.50                5.17
8      TX006P    63             3.58               4.92                5.25
9      TX011P    68             4.58               4.42                6.17
10     WI010P    10             4.00               4.58                6.17
11     WI011P    11             3.58               4.17                4.33
12     WI017P    17             4.67               5.67                5.42
13     WI020C    20             4.83               3.75                3.50
14     WI023P    23             2.67               3.33                5.08

In [131]:
spin = cdf.PIN.to_list()
cpin = []
for pin in spin:
    if len(pin) ==6:
        pin =pin[:5]+'C'
    else: 
        print(pin)
        pin ='APPLETONC1'
    cpin.append(pin)

APPLETONQ

In [132]:
cpin

['APPLETONC1',
 'MN010C',
 'MN020C',
 'MN024C',
 'MO003C',
 'MO004C',
 'MO013C',
 'TX004C',
 'TX006C',
 'TX011C',
 'WI010C',
 'WI011C',
 'WI017C',
 'WI020C',
 'WI023C']

In [133]:
child =data[data.PIN.isin(cpin)]

In [134]:
child[child.Age_group.notnull()]['PIN'].nunique()

14

In [135]:
child

,DYAD,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
1,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
2,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
3,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
4,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL22,2,2.0,3,NaN,2021-12-05 12:11:22,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44307,17,WI017C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,Mullen Expressive Observational,EL19,1,1.0,13,NaN,2021-11-13 15:07:36,2021-11-13 15:07:13,2021-11-13 15:10:22,40,"(35, 43]"
44308,17,WI017C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,Mullen Expressive Observational,EL22,1,1.0,14,NaN,2021-11-13 15:07:36,2021-11-13 15:07:13,2021-11-13 15:10:22,40,"(35, 43]"
44309,17,WI017C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,Global Self-Regulation,SelfReg_Global_Title,1,NaN,1,NaN,2021-11-13 15:10:24,2021-11-13 15:10:23,2021-11-13 15:10:26,40,"(35, 43]"
44310,17,WI017C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,Global Self-Regulation,SelfReg_Global_Instructions,1,NaN,2,NaN,2021-11-13 15:10:25,2021-11-13 15:10:23,2021-11-13 15:10:26,40,"(35, 43]"
44311,17,WI017C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,Global Self-Regulation,SelfReg_Global_rating,3,3.0,3,NaN,2021-11-13 15:10:26,2021-11-13 15:10:23,2021-11-13 15:10:26,40,"(35, 43]"

In [136]:
de = pd.merge(cdf, child[['PIN','DYAD','Age_month','Age_group']], on=['PIN','DYAD'], how ='left')

In [138]:
de =de.drop_duplicates()
de = de.reset_index(drop=True)
de =de[(de.Age_month <42) | (de.Age_month.isnull())]
de

,PIN,DYAD,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ,Age_month,Age_group
0,APPLETONQ,1,3.83,5.25,5.42,NaN,NaN
1,MN010P,43,4.50,4.00,5.75,NaN,NaN
2,MN020P,53,3.42,5.00,4.42,NaN,NaN
3,MN024P,57,3.67,4.42,5.42,NaN,NaN
4,MO003P,87,4.25,4.17,4.42,NaN,NaN
5,MO004P,88,4.67,3.50,6.25,NaN,NaN
6,MO013P,97,5.42,2.58,5.50,NaN,NaN
7,TX004P,61,4.42,4.50,5.17,NaN,NaN
8,TX006P,63,3.58,4.92,5.25,NaN,NaN
9,TX011P,68,4.58,4.42,6.17,NaN,NaN
10,WI010P,10,4.00,4.58,6.17,NaN,NaN
11,WI011P,11,3.58,4.17,4.33,NaN,NaN
12,WI017P,17,4.67,5.67,5.42,NaN,NaN
13,WI020C,20,4.83,3.75,3.50,41.00,"(35, 43]"
15,WI023P,23,2.67,3.33,5.08,NaN,NaN

In [139]:
de.groupby(['Age_group'])['SelfReg_SurgCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]    1.00  4.83  NaN 4.83 4.83 4.83 4.83 4.83

In [140]:
de.groupby(['Age_group'])['SelfReg_NegAffCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]    1.00  3.75  NaN 3.75 3.75 3.75 3.75 3.75

In [141]:
de.groupby(['Age_group'])['SelfReg_EffContCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]    1.00  3.50  NaN 3.50 3.50 3.50 3.50 3.50

In [142]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_composite_scores.xlsx', engine='xlsxwriter')

de.groupby(['Age_group'])['SelfReg_SurgCBQ'].describe().round(2).to_excel(writer, sheet_name='SurgCBQ')

de.groupby(['Age_group'])['SelfReg_NegAffCBQ'].describe().round(2).to_excel(writer, sheet_name='NegAffCBQ')

de.groupby(['Age_group'])['SelfReg_EffContCBQ'].describe().round(2).to_excel(writer, sheet_name='EffContCBQ')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# 7. Add the other Self-Regulation instruments to the data file – that is, go back to the item-level data and select the Inst = “Playing with Bubbles” and “Toy Out of Reach”

In [143]:
df2= data[(data.Inst=='Playing with Bubbles')]
df3 = data[(data.Inst=='Toy Out of Reach')]
df3.shape

(1474, 15)

# 8. Correlate the 3 composites with PA_2 and PA_3 from “Playing with Bubbles”

In [144]:
pa2 =df2[df2.ItemID=='PA_2'][['PIN','DYAD','Score']]
pa2=pa2.drop_duplicates()
pa3 =df2[df2.ItemID=='PA_3'][['PIN','DYAD','Score']]
pa3=pa3.drop_duplicates()

In [145]:
PA = pd.merge(pa2,pa3, on=['PIN','DYAD'])
PA.columns =['PIN','DYAD','PA_2','PA_3']

In [146]:
PA =PA.drop_duplicates()
PA

           PIN  DYAD PA_2 PA_3
0       TX011C    68  2.0  2.0
1       TX011C    69  3.0  3.0
2       TX009C    66  0.0  1.0
3       TX005C    62  2.0  2.0
4   APPLETONC1     1  3.0  3.0
..         ...   ...  ...  ...
88      WI025C    25  3.0  3.0
89      WI017C    17  2.0  2.0
90      MO022C   106  1.0  1.0
91      TX027C    84  3.0  3.0
92      MO012C    96  2.0  2.0

[93 rows x 4 columns]

In [147]:
PA['PA_3']=pd.to_numeric(PA['PA_3'])

In [148]:
PA['PA_2']=pd.to_numeric(PA['PA_2'])

In [149]:
cdf.DYAD=cdf.DYAD.to_string()

In [150]:
cdf.corrwith(PA['PA_2'])

SelfReg_SurgCBQ       0.16
SelfReg_NegAffCBQ    -0.33
SelfReg_EffContCBQ   -0.13
dtype: float64

In [151]:
c2 =cdf.corr().append(cdf.corrwith(PA['PA_2']), ignore_index=True)
c2

   SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0             1.00              -0.26                0.17
1            -0.26               1.00                0.02
2             0.17               0.02                1.00
3             0.16              -0.33               -0.13

In [152]:
c23 =c2.append(cdf.corrwith(PA['PA_3']), ignore_index=True)

In [153]:
c23

   SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0             1.00              -0.26                0.17
1            -0.26               1.00                0.02
2             0.17               0.02                1.00
3             0.16              -0.33               -0.13
4             0.09              -0.30               -0.24

# 9 Mean-level score

In [154]:
df3.Score =pd.to_numeric(df3.Score)

In [155]:
#9a
f1 = df3[df3['ItemID'].str.contains("frus_reg")].groupby(['DYAD'])['Score'].mean().reset_index()

In [156]:
#9b
f2= df3[df3['ItemID'].str.contains("frus_escal")].groupby('DYAD')['Score'].mean().reset_index()

In [157]:
#9c
f3=df3[df3['ItemID'].str.contains("frus_cope")].groupby('DYAD')['Score'].mean().reset_index()
f3

    DYAD  Score
0      1   3.00
1      2   3.00
2      3   2.00
3      4   3.00
4      5   2.00
..   ...    ...
88   104   1.00
89   105   1.00
90   106   0.67
91   107   1.00
92   108   1.67

[93 rows x 2 columns]

In [158]:
f12 =pd.merge(f1,f2, on='DYAD')
frus =pd.merge(f12,f3, on='DYAD')

In [159]:
frus.columns =['DYAD', 'frus_reg', 'frus_escalation', 'frus_cope']

In [160]:
new =pd.merge(PA, frus,on='DYAD', how='left')

In [161]:
new

           PIN  DYAD  PA_2  PA_3  frus_reg  frus_escalation  frus_cope
0       TX011C    68  2.00  2.00      3.00             0.00       3.00
1       TX011C    69  3.00  3.00      1.00             0.67       2.33
2       TX009C    66  0.00  1.00      3.00             0.00       3.00
3       TX005C    62  2.00  2.00      3.00             0.00       3.00
4   APPLETONC1     1  3.00  3.00      3.00             0.00       3.00
..         ...   ...   ...   ...       ...              ...        ...
88      WI025C    25  3.00  3.00      0.67             0.00       3.00
89      WI017C    17  2.00  2.00      0.00             0.00       3.00
90      MO022C   106  1.00  1.00      1.33             1.33       0.67
91      TX027C    84  3.00  3.00      0.67             0.00       3.00
92      MO012C    96  2.00  2.00      1.00             0.67       1.33

[93 rows x 7 columns]

In [162]:
cf =c23.append(cdf.corrwith(new['frus_reg']), ignore_index=True)
cf1 =cf.append(cdf.corrwith(new['frus_escalation']), ignore_index=True)
cf2 =cf1.append(cdf.corrwith(new['frus_cope']), ignore_index=True)
cf2

   SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0             1.00              -0.26                0.17
1            -0.26               1.00                0.02
2             0.17               0.02                1.00
3             0.16              -0.33               -0.13
4             0.09              -0.30               -0.24
5            -0.15              -0.03               -0.28
6             0.02              -0.25                0.62
7            -0.07               0.08               -0.68

In [163]:
cf2.index =['SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ', 'SelfReg_EffContCBQ','PA_2','PA_3','frus_reg', 'frus_escalation', 'frus_cope']

In [164]:
cf2.round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_corr.csv')

In [165]:
de['ChildPIN']  = de['PIN'].str[:-1] +'C'

In [166]:
de.columns

Index(['PIN', 'DYAD', 'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ',
       'SelfReg_EffContCBQ', 'Age_month', 'Age_group', 'ChildPIN'],
      dtype='object')

In [180]:
sc= pd.read_excel('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_new.xlsx')

In [182]:
sc.columns=['DYAD', 'ChildPIN', 'CaregiverPIN', 'Assessment Name', 'Age_month',
       'Age_group', 'SelfReg_SurgIBQR', 'SelfReg_NegAffIBQR',
       'SelfReg_EffContIBQR', 'SelfReg_SurgECBQ', 'SelfReg_NegAffECBQ',
       'SelfReg_EffContECBQ', 'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ',
       'SelfReg_EffContCBQ', 'PA_2', 'PA_3', 'frus_reg', 'frus_escalation',
       'frus_cope', 'CDI_Exp_theta', 'CDI_Rec_theta', 'Give_N', 'GlobalSR',
       'MYLLM', 'MemTest', 'Mul_Exp', 'Mul_Rec', 'PVT', 'NR_S', 'VerbCt',
       'ObjCt', 'PROMIS_CC_Int', 'PROMIS_PR', 'REMA', 'ShpM_Man', 'ShpM_I',
       'VDR', 'WHM', 'Phys_DP4_SS', 'AB_DP4_SS', 'SE_DP4_SS', 'Cog_DP4_SS',
       'Comm_DP4_SS', 'GDS_DP4_SS', 'Phys_DP4_AE', 'AB_DP4_AE', 'SE_DP4_AE',
       'Cog_DP4_AE', 'Comm_DP4_AE', 'GDS_DP4_AE', 'Phys_DP4_GSV', 'AB_DP4_GSV',
       'SE_DP4_GSV', 'Cog_DP4_GSV', 'Comm_DP4_GSV', 'GDS_DP4_GSV',
       'GM_MSEL_raw', 'VR_MSEL_raw', 'FM_MSEL_raw', 'RL_MSEL_raw',
       'EL_MSEL_raw', 'GM_MSEL_Tscr', 'VR_MSEL_Tscr', 'FM_MSEL_Tscr',
       'RL_MSEL_Tscr', 'EL_MSEL_Tscr', 'ELC_MSEL_Tscr', 'GM_MSEL_AE',
       'VR_MSEL_AE', 'FM_MSEL_AE', 'RL_MSEL_AE', 'EL_MSEL_AE']

In [183]:
de =de[(de.Age_month <42) | (de.Age_month.isnull())]
de

,PIN,DYAD,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ,Age_month,Age_group,ChildPIN
0,APPLETONQ,1,3.83,5.25,5.42,NaN,NaN,APPLETONC1
1,MN010P,43,4.50,4.00,5.75,NaN,NaN,MN010C
2,MN020P,53,3.42,5.00,4.42,NaN,NaN,MN020C
3,MN024P,57,3.67,4.42,5.42,NaN,NaN,MN024C
4,MO003P,87,4.25,4.17,4.42,NaN,NaN,MO003C
5,MO004P,88,4.67,3.50,6.25,NaN,NaN,MO004C
6,MO013P,97,5.42,2.58,5.50,NaN,NaN,MO013C
7,TX004P,61,4.42,4.50,5.17,NaN,NaN,TX004C
8,TX006P,63,3.58,4.92,5.25,NaN,NaN,TX006C
9,TX011P,68,4.58,4.42,6.17,NaN,NaN,TX011C
10,WI010P,10,4.00,4.58,6.17,NaN,NaN,WI010C
11,WI011P,11,3.58,4.17,4.33,NaN,NaN,WI011C
12,WI017P,17,4.67,5.67,5.42,NaN,NaN,WI017C
13,WI020C,20,4.83,3.75,3.50,41.00,"(35, 43]",WI020C
15,WI023P,23,2.67,3.33,5.08,NaN,NaN,WI023C

In [184]:
keep =['DYAD', 'ChildPIN', 'CaregiverPIN', 'Assessment Name', 'Age_month',
       'Age_group', 'SelfReg_SurgIBQR', 'SelfReg_NegAffIBQR',
       'SelfReg_EffContIBQR', 'SelfReg_SurgECBQ', 'SelfReg_NegAffECBQ',
       'SelfReg_EffContECBQ', 'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ',
       'SelfReg_EffContCBQ', 'PA_2', 'PA_3', 'frus_reg', 'frus_escalation',
       'frus_cope', 'CDI_Exp_theta', 'CDI_Rec_theta', 'Give_N', 'GlobalSR',
       'MYLLM', 'MemTest', 'Mul_Exp', 'Mul_Rec', 'PVT', 'NR_S', 'VerbCt',
       'ObjCt', 'PROMIS_CC_Int', 'PROMIS_PR', 'REMA', 'ShpM_Man', 'ShpM_I',
       'VDR', 'WHM', 'Phys_DP4_SS', 'AB_DP4_SS', 'SE_DP4_SS', 'Cog_DP4_SS',
       'Comm_DP4_SS', 'GDS_DP4_SS', 'Phys_DP4_GSV', 'AB_DP4_GSV', 'SE_DP4_GSV',
       'Cog_DP4_GSV', 'Comm_DP4_GSV', 'GDS_DP4_GSV', 'GM_MSEL_raw',
       'VR_MSEL_raw', 'FM_MSEL_raw', 'RL_MSEL_raw', 'EL_MSEL_raw',
       'GM_MSEL_Tscr', 'VR_MSEL_Tscr', 'FM_MSEL_Tscr', 'RL_MSEL_Tscr',
       'EL_MSEL_Tscr', 'ELC_MSEL_Tscr', 'GM_MSEL_AE', 'VR_MSEL_AE',
       'FM_MSEL_AE', 'RL_MSEL_AE', 'EL_MSEL_AE']

In [185]:
de.loc[de['PIN'] == 'APPLETONQ', 'ChildPIN'] = 'APPLETONC1'

In [186]:
de.columns

Index(['PIN', 'DYAD', 'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ',
       'SelfReg_EffContCBQ', 'Age_month', 'Age_group', 'ChildPIN'],
      dtype='object')

In [187]:
sc=sc.drop(columns=[ 'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ',
       'SelfReg_EffContCBQ','Age_month', 'Age_group'])

In [188]:
sc1= pd.merge(sc, de, on=['DYAD','ChildPIN'], how='left')

In [189]:
sc1[keep]

,DYAD,ChildPIN,CaregiverPIN,Assessment Name,Age_month,Age_group,SelfReg_SurgIBQR,SelfReg_NegAffIBQR,SelfReg_EffContIBQR,SelfReg_SurgECBQ,...,VR_MSEL_Tscr,FM_MSEL_Tscr,RL_MSEL_Tscr,EL_MSEL_Tscr,ELC_MSEL_Tscr,GM_MSEL_AE,VR_MSEL_AE,FM_MSEL_AE,RL_MSEL_AE,EL_MSEL_AE
0,1,WI001C,WI001P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,WI002C,WI002P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,WI003C,WI003P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,WI004C,WI004P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,WI005C,WI005P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,104,MO020C,MO020P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,105,MO021C,MO021P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,106,MO022C,MO022P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,107,MO023C,MO023P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,108,MO024C,MO024P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
sc1[keep].to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_test.csv', index=False)